<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" href="https://i.ibb.co/6smHyTh/Removal-496.png"/>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <title>{% block title %}Home{% endblock %}</title>
    </head>
    
  <header> 
        <!-- Sidebar -->
  <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
    <div class="position-sticky">
      <div class="list-group list-group-flush mx-3 mt-4">
        <a href="/"
          class="list-group-item list-group-item-action py-2 ripple"
          aria-current="true">
          <i class="fas fa-fw me-3"></i><span>Home</span></a>
        <a href="/about" class="list-group-item list-group-item-action py-2 ripple">
          <i class="fas fa-fw me-3"></i><span>About</span></a>
        <a href="/api" class="list-group-item list-group-item-action py-2 ripple"
          ><i class="fas fa-fw me-3"></i><span>API</span></a>
        <a href="/faq" class="list-group-item list-group-item-action py-2 ripple"
          ><i class="fas fa-fw me-3"></i><span>FAQ</span></a>        
      </div>
    </div>
  </nav>
  <!-- Sidebar -->
  <!-- Navbar -->
  <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-collapse-init
        data-mdb-target="#sidebarMenu"
        aria-controls="sidebarMenu"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <!-- Brand -->
      <a class="navbar-brand" href="/">
        <img
          src="https://i.ibb.co/6smHyTh/Removal-496.png"
          height="40"
          alt="Logo"
          loading="lazy"
        />
      </a>      

      <!-- Right links -->
      <ul class="navbar-nav ms-auto d-flex flex-row">
        
        <!-- Avatar -->
        <li class="nav-item dropdown">
          <a
            data-mdb-dropdown-init class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img (31).webp"
              class="rounded-circle"
              height="22"
              alt="Avatar"
              loading="lazy"
            />
          </a>
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="navbarDropdownMenuLink"
          >
            <li>
              <a class="dropdown-item" href="#">My profile</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Settings</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Logout</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- Container wrapper -->
  </nav>
</header>
  <!-- Navbar -->
        <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <nav id="main-navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid"></div>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbar"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
              <div class="navbar-nav">
                
                <a class="nav-item nav-link" id="home" href="/">Home</a>
                <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>              
                <a class="nav-item nav-link" id="login" href="/login">Login</a>
                <a class="nav-item nav-link" id="signUp" href="/sign_up">Sign Up</a>
    
              </div>
            </div>
          </nav> -->
      <body style="margin-top: 58px;">   
          <!-- <div>
            {% with messages = get_flashed_messages(with_categories=true) %} {% if
                messages %} {% for category, message in messages %} {% if category ==
                'error' %}
                <div class="alert alert-danger alter-dismissable fade show" role="alert">
                  {{ message }}
                  <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                {% else %}
                <div class="alert alert-success alter-dismissable fade show" role="alert">
                  {{ message }}
                  <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                {% endif %} {% endfor %} {% endif %} {% endwith %} -->
        <div class="container">
        {% block content %}

        {% endblock %}
      </div>
      

        <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
        <script type="text/javascript" src="{{ url_for('static', filename='index.js')}}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">    
  
  </body>
</html>