{% extends "tmp-base.html" %}
<title>{% block title %}Home{% endblock %}</title>

    {% block content_middle %}
    <form method="POST">
        <textarea class="text-main" rows="15" id="textarea" name="textarea" autofocus></textarea>
        <input class="submit" type="submit" value="Проверить текст">
        <div><h1>{{text_data}}</h1></div>
      </form>

    {% endblock %}

    {% block content_right %}
      <textarea class="text-data" readonly></textarea>
    {% endblock %}

<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">


