{% extends "tmp-base.html" %}
<title>{% block title %}Home{% endblock %}</title>

    {% block content_middle %}
    <form method="POST">
        <textarea class="text-main" rows="15" id="textarea" name="textarea" autofocus>{{text_data}}</textarea>
        <input class="submit" type="submit" value="Проверить текст">
      </form>

    {% endblock %}

    {% block content_right %}
    {% if generated == 1 %}
      <!-- <textarea class="text-data-output-red"  readonly>{{output_text}}</textarea> -->
    <div class = "text-data-output-red">{{output_text}}</div>

    {% else %}
    <!-- <textarea class="text-data-output-green"  readonly>{{output_text}}</textarea> -->
    <div class = "text-data-output-green">{{output_text}}</div>
    {% endif %}
      
    {% endblock %}

<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">


