body {
    background-color: #fbfbfb;
    position: relative;
    left: 240px;
    width: 940px;
    top: 30px;
  }

  .container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  /* form, main {
    position: relative;
    left: 240px;
    width: 940px;
  } */
  .form-control {
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0 2px 1px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  }
  .about-text-1 {
    position: relative;
    left: 260px;
    top: 50px;
    width: 920px;
  }

  .submit {
    /* position: relative; */
    width: 700px;
    background-color: aquamarine;
    border-width: 0px;
    height: 50px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%), 0 2px 2px 0 rgb(0 0 0 / 12%);
  }
  /* Sidebar */
  .sidebar {
    position: fixed;
    top: 80px;
    bottom: 0;
    left: 0;
    padding: 58px 0 0; /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 200px;
    z-index: 600;
  }
  
  @media (max-width: 991.98px) {
    .sidebar {
      width: 100%;
    }
  }
  .sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  }
  
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
